/*
Colors used:
Primary Color (Black): #1f2122;
Primary Color (White): #ffffff;
Secondary Color (Coral): #f85c70;
Secondary Color (Periwinkle): #cad0ff;
Tertiary Color (Tan): #f4e2d6;
*/
body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #1f2122;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

h1 {
  font-size: 2.7em;
  font-weight: 600;
}

h2 {
  font-size: 2.4em;
  font-weight: 600;
}

h3 {
  font-size: 2.1em;
  font-weight: 600;
}

h4 {
  font-size: 1.8em;
  font-weight: 600;
}

h5 {
  font-size: 1.5em;
  font-weight: 600;
}

h6 {
  font-size: 1.2em;
  font-weight: 600;
}

img {
  width: 100%;
}

a:visited {
  color: #f85c70;
}

a:active {
  color: #f4e2d6;
}

a:hover,
a:focus {
  color: #f4e2d6;
}

.button {
  display: inline-block;
  background-color: #cad0ff;
  font-color: #ffffff;
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #1f2122;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  opacity: 0.8;
  text-decoration: underline;
}

.button.contact {
  background-color: transparent;
  color: #cad0ff;
  text-transform: uppercase;
  border: 2px solid #cad0ff;
}

.button.contact:hover {
  background-color: #cad0ff;
  color: #ffffff;
}

.my-logo {
  height: 500px;
  width: 500px;
}
